/* Colors */
/* Default (light) colors */
body {
    --cs-text: #000;
    --cs-background: #F7F7FF;
    --cs-sidebar-text: #FFF;
    --cs-sidebar-background: #212529;
    --cs-sidebar-separator: #FBFBFF;
    --cs-separator: #10002B;
}

/* Default (dark) colors */
/* TODO: Add body.dark-theme and body.light-theme */
@media (prefers-color-scheme: dark) {
    body {
        --cs-text: #FFF;
        --cs-background: #121212;
        --cs-sidebar-background: #000;
        --cs-sidebar-separator: #FBFBFF;
        --cs-separator: #FBFBFF;
    }
}

body {
    font-family: 'Bai Jamjuree', monospace;
    background-color: var(--cs-background);
    color: var(--cs-text);
    padding-bottom: env(safe-area-inset-bottom);

}

/* Universal styling */
.page-title {
    min-width: 300px;
}
.monospace-font {
    font-size: 14px;
    font-family: monospace;
}
select, button, .list-group-item {
    background-color: var(--cs-background) !important;
    color: var(--cs-text) !important;
    border-color: var(--cs-separator) !important;
}
table, th, tr {
    color: var(--cs-text) !important;
}
hr {
    color: var(--cs-separator) !important;
    border: 1px solid;
}

/** Bootstrap override */
.accordion-item {
    border: 1px solid var(--cs-separator);
}
.accordion-button,
.accordion-button:not(.collapsed) {
    color: var(--cs-text);
    background-color: var(--cs-background);
    padding: 5px;
}

/** Centering Grid CSS */
.centering-grid {
    display: grid;
    justify-content: center;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 400px 1fr;
}
.centering-grid-item {
    grid-column: 2;
}

/* Sidebar styling */
aside .sidebar {
    margin-bottom: 0 !important;
    background-color: var(--cs-sidebar-background);
    border-right: 1px solid var(--cs-separator);
    border-radius: 0;
}
aside .sidebar a {
    color: var(--cs-sidebar-text);
    text-decoration: none;
}
aside .sidebar a:hover {
    color: lightgray;
}
aside .sidebar hr {
    opacity: 1;
    border: none;
    height: 1px;
    background-color: var(--cs-sidebar-separator);
}
aside .sidebar li .submenu {
	list-style-type: none;
	margin: 0;
    padding: 0 1rem;
}

/* Homepage styling */
.project-list {
    display: grid;
    grid-template-columns: none;
    min-width: 300px;
}
.project-list .item {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    height: 135px;
    border: 1px solid var(--cs-separator);
    border-radius: 3px;
    /*background-color: red;*/
}
.project-list .item .header {
    width: 200px;
    height: 100%;
    border-right: 1px solid var(--cs-separator);
    padding: 5px;
    float: left;
}
.project-list .item .header hr {
    margin: 2px;
}
.project-list .item .header .title {
    font-size: 18px;
    text-align: center;
}
.project-list .item .content {
    flex: 1;
}
.project-list .item .content .chart-container {
    position: relative;
    width: 100%;
    height: 135px;
    padding-bottom: 5px;
}

/* Crash reports styling */
#crash-table {
    color: var(--cs-text);
}
.crash-list-chart hr {
    clear: both;
}
.crash-list-chart select {
    border: 1px solid var(--cs-separator);
}
.crash-list-chart .day-crash-count {
    float: right;
    display: inline-block;
}
.pagination > .page-item > .page-link {
    color: var(--cs-text) !important;
    background: var(--cs-background) !important;
}

/* Crash detail styling */
#modules-block .card {
    background-color: var(--cs-background);
    border-color: var(--cs-separator);
}
#crash-detail-tabs > .nav-link {
    color: var(--cs-text);
}
#crash-detail-tabs > .nav-link.active {
    background-color: var(--cs-background);
    border-bottom: none;
}
#crash-detail-tabs > .nav-link.disabled {
    color: grey;
}
#thread-list .stack-header-btn {
    width: 100%;
    text-align: left;
    border: none;
    border: 0;
    border-radius: 0;
    user-select: text;
    padding-left: 0;
    background-color: var(--cs-background) !important;
    color: var(--cs-text) !important;
    border-color: var(--cs-separator) !important;
}

/* Symbol list styling */
#mobile-version-list > .mobile-version-info {
    padding: 5px 0 0 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid var(--cs-separator);
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

/*!* Navbar specific *!*/
/*.navbar-dark .navbar-toggler {*/
/*    background-color: var(--cs-nav-color) !important;*/
/*    border-color: var(--cs-toggler-color) !important;*/
/*}*/

/*.navbar-dark .navbar-toggler:focus {*/
/*    box-shadow: none;*/
/*}*/

/*!* Settings page specific CSS *!*/
/*.settings-content-container {*/
/*    padding: 15px;*/
/*    margin-bottom: 30px;*/
/*    border: 1px solid rgba(0,0,0,.125);*/
/*    border-radius: 5px;*/
/*    !*box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;*!*/
/*}*/

/*#settings-side-tabs .active {*/
/*    background-color: #9e9e9e;*/
/*    border-color: #9e9e9e;*/
/*    color: #212529;*/
/*}*/

/*#settings-side-tabs a:hover {*/
/*    color: #212529;*/
/*}*/

/*.nav-link {*/
/*    color: #495057;*/
/*    background-color: var(--cs-nav-color);*/
/*}*/

/*.settings-box-border {*/
/*    !*box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;*!*/
/*}*/

/*.settings-project-grid {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr;*/
/*}*/

/*.settings-storage-row {*/
/*    margin-top: 5px;*/
/*}*/

/*!* Symbol List HTML *!*/
/*.symbol-list-version {*/
/*    margin-left: 5px;*/
/*    margin-right: 5px;*/
/*}*/

/*#mobile-version-list .card {*/
/*    margin-bottom: 5px;*/
/*}*/

/*#mobile-version-list .mobile-version-info {*/
/*    padding: 5px 0 0 5px;*/
/*    margin: 5px;*/
/*    border-radius: 5px;*/
/*    border: 1px solid rgba(0,0,0,.125);*/
/*    font-size: 1em;*/
/*    font-weight: 400;*/
/*    line-height: 1.5;*/
/*}*/

/*#mobile-version-list ul {*/
/*    margin-bottom: 0;*/
/*}*/

/*#mobile-version-list p {*/
/*    margin-bottom: 0px;*/
/*}*/

/*!* Crash Detail Page *!*/
/*.crash-thread-badge {*/
/*    margin-left: 3px;*/
/*}*/

/*.stack-header-btn {*/
/*    width: 100%;*/
/*    text-align: left;*/
/*    background-color: #fff;*/
/*    border: none;*/
/*    color: #000;*/
/*    border: 0;*/
/*    border-radius: 0;*/
/*    user-select: text;*/
/*    padding-left: 0;*/
/*}*/

/*.frame-code-view {*/
/*    padding: 10px;*/
/*}*/

/*.frame-code-loader-view {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.crash-mobile-item {*/
/*    display: grid;*/
/*    grid-template-columns: auto auto 1fr;*/
/*    grid-column-gap: 2px;*/
/*}*/

/*pre {*/
/*    max-height: 50em !important;*/
/*}*/

