Flask==2.0.1
toml==0.10.2
WTForms==2.3.3
SQLAlchemy==1.4.22
Flask_SQLAlchemy==2.5.1
SQLAlchemy_Utils==0.37.8
Flask_Login==0.5.0
Werkzeug==2.0.1
gevent==21.8.0
Flask_WTF==0.15.1
huey==2.4.0
python_magic==0.4.24
psycopg2-binary==2.9.1
email-validator==1.1.3