{% extends "base/base.html" %}

{% block content %}
	<h1 class="text-center">Create Project</h1>
	<hr>

	<div class="centering-grid">
		<form class="centering-grid-item" method="post" action="{{ url_for("views.project_create") }}">
			<p class="text-center">{{ _("Each project represents a piece of software capable of uploading minidump files after they crash.") }}</p>

			{{ form.csrf_token }}
			<div class="mb-3">
				{{ form.title.label(class="form-label") }}
				{{ form.title(class="form-control") }}
			</div>
			<hr>
			<div class="mb-3">
				{{ form.project_type.label(class="form-label") }}
				<p>{{ _("Project type determines symbol storage requirements, and minidump annotation recommendations.") }}</p>
				<ul>
					<li>
						<b>{{ _("Simple") }}</b>:
						{{ _("A version number is not required to upload symbols. All symbols uploaded will be stored in their correct location to allow for symbolication, though this won't relate an application version.")}}
					</li>
					<li>
						<b>{{ _("Versioned") }}</b>:
						{{ _("This will require a version number to be uploaded with the symbol file. Symbol files uploaded without a version number will be rejected from the server.") }}
					</li>
				</ul>
				{{ form.project_type(class="form-control") }}
			</div>
			<div class="text-center">
				<button type="submit" class="btn btn-outline">{{ _("Create") }}</button>
			</div>
		</form>
	</div>
{% endblock %}