{% extends "base/base.html" %}


{% macro project_entry(project) %}
	<div class="item">
		<div class="header">
			<div class="title">{{ project.project_name }}</div>
			<hr>
			<div><i class="fas fa-stream"></i> {{ project.symbol_count }} Symbols</div>
			<div><i class="fas fa-archive"></i> {{ project.minidump_count }} Crashes</div>
			<div><i class="far fa-question-circle"></i> {{ project.unprocessed_count }} Unprocessed</div>
			<hr>
			<div class="view"><a href="#">View Dashboard</a></div>
		</div>
		<div class="content">
			{% if project.minidump_count != 0 %}
				<div class="chart-container">
					<canvas id="{{ project.id }}"></canvas>
				</div>
			{% else %}
				<div class="msg-not-available">
					<p>
						<i class="far fa-sad-cry"></i>
						{{ _("No crashes have been uploaded for this project.") }}
					</p>
				</div>
			{% endif %}
		</div>
	</div>
{% endmacro %}

{% block content %}
	<h1 class="text-center page-title">{{ _("Symbol Storage and Minidump Decode") }}</h1>
	<hr>
	<div class="project-list">
		{% for app in apps %}
			{{ project_entry(app) }}
		{% endfor %}
	</div>

	<script>
        document.addEventListener("DOMContentLoaded", function () {
            let elements = document.getElementsByTagName("canvas")
            for(let i = 0; i < elements.length; i++){
                let item = elements.item(i);
                CrashGraph.genHomepageCrashGraph(item.id, item.id);
            }
        });

	</script>
{% endblock %}