{% extends "base/base.html" %}
{% import 'app/settings.macros.html' as macros %}


{% block content %}
	<h1 class="text-center">{{ _("Server Settings") }}</h1>
	<hr>
	<div>
		{# MOBILE SIZE TOP TABS #}
		<div class="row d-lg-none">
			<div class="col-12">
				<ul id="settings-top-tabs" class="nav nav-tabs">
					<li id="account" class="nav-item nav-link active"><i class="fas fa-user"></i></li>
					{# My Account #}
					<li id="users" class="nav-item nav-link"><i class="fas fa-users fa-fw"></i></li> <!-- Users-->
					<li id="server" class="nav-item nav-link"><i class="fas fa-server fa-fw"></i></li> <!-- Server-->
					<li id="projects" class="nav-item nav-link"><i class="fas fa-archive fa-fw"></i></li> <!-- Projects-->
					<li id="storage" class="nav-item nav-link"><i class="fas fa-database fa-fw"></i></li> <!-- Storage-->
					<li id="about" class="nav-item nav-link"><i class="fas fa-info-circle fa-fw"></i></li> <!-- About-->
				</ul>
			</div>
		</div>

		{# SIDE TABS AND CONTENT AREA #}
		<div class="row">
			{# DESKTOP SIDE TABS  #}
			<div class="d-none d-lg-block col-lg-3">
				<div id="settings-side-tabs" class="list-group settings-box-border">
					<a id="account" class="list-group-item active" href="#account"><i class="fas fa-user fa-fw"></i>{{ _("My Account") }}</a>
					<a id="users" class="list-group-item" href="#users"><i class="fas fa-users fa-fw"></i>{{ _("Users") }}</a>
					<a id="server" class="list-group-item" href="#server"><i class="fas fa-server fa-fw"></i>{{ _("Server") }}</a>
					<a id="projects" class="list-group-item" href="#projects"><i class="fas fa-archive fa-fw"></i>{{ _("Projects") }}</a>
					<a id="storage" class="list-group-item" href="#storage"><i class="fas fa-database fa-fw"></i>{{ _("Storage") }}</a>
					<a id="about" class="list-group-item" href="#about"><i class="fas fa-info-circle fa-fw"></i>{{ _("About") }}</a>
				</div>
			</div>

			{# MAIN CONTENT AREA #}
			<div class="col-lg-9">
				<div id="settings-content" class="settings-content tab-content settings-box-border">
					{# MY ACCOUNT TAB #}
					<div class="tab-pane active" role="tabpanel" id="account-content">
						<h4 class="text-center">{{ _("My Account") }}</h4>
						<hr>
						<h5>{{ _("Change Password") }}</h5>
						<form action="{{ url_for("views.settings") }}" method="POST">
							{{ account_form.csrf_token }}
							{{ macros.generate_form_input(account_form.current_pass, autocomplete="off") }}
							{{ macros.generate_form_input(account_form.new_pass, autocomplete="off") }}
							{{ macros.generate_form_input(account_form.new_pass_verify, autocomplete="off") }}
							<hr>
							<div class="text-center">
								<button type="submit" class="btn btn-outline">{{ _("Submit") }}</button>
							</div>
						</form>
					</div>

					{# USERS TAB #}
					<div class="tab-pane" role="tabpanel" id="users-content">
						<h4 class="text-center">{{ _("Current Users") }}</h4>
						<hr>
						<table class="table">
							<thead>
							<tr>
								<th scope="col">{{ _("Email") }}</th>
								<th scope="col">{{ _("Date Created") }}</th>
							</tr>
							</thead>
							<tbody>
							{% for user in users %}
								<tr>
									<td>{{ user.email }}</td>
									<td>{{ user.date_created.strftime("%T %F") }}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>

					{# SERVER TAB #}
					<div class="tab-pane" role="tabpanel" id="server-content">
						<h4 class="text-center">{{ _("Server Settings") }}</h4>
						<hr>
						<form action="">

							<h5>{{ _("Symbol Upload") }}</h5>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="symupload-v1">
								<label class="form-check-label" for="symupload-v1">
									{{ _("Enable") }} <code>sym-upload-v1</code> {{ _("protocol") }}
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="symupload-v2">
								<label class="form-check-label" for="symupload-v2">
									{{ _("Enable") }} <code>sym-upload-v2</code> {{ _("protocol") }}
								</label>
							</div>
							<hr>

							<h5>{{ _("Single Project Mode") }}</h5>
							<p>
								{{ _("Crash Server supports collecting symbols and minidumps for multiple applications, and keeping the data stored separately on disk, some projects may only have a single project they want to store their symbols for. Enabling single project mode will:") }}
							</p>

							<ul>
								<li>{{ _("Set the homepage to be the selected projects dashboard.") }}</li>
								<li>{{ _("Disable public access to any project expect the selected project.") }}</li>
							</ul>

							<p>{{ _("Single Project Mode will not delete any projects or symbols.") }}</p>
							<label for="project-select">{{ _("Select project") + ":" }}</label>
							<select id="project-select" class="form-select" autocomplete="off">
								<option selected>{{ _("Disable Single Project Mode") }}</option>
								{% for proj in projects %}
									<option value="{{ proj.id }}">{{ proj.project_name }}</option>
								{% endfor %}
							</select>
							<hr>
							<div class="text-center">
								<button type="submit" class="btn btn-outline">{{ _("Save") }}</button>
							</div>
						</form>
					</div>

					{# PROJECTS TAB #}
					<div class="tab-pane" role="tabpanel" id="projects-content">
						<h4 class="text-center">{{ _("Projects") }}</h4>
						<hr>
						<div id="project-grid">
							{% if not projects %}
								<p>{{ _("No projects have been created yet.") }}</p>
							{% else %}
								{% for p in projects %}
									{{ macros.generate_project_row(p) }}
								{% endfor %}
							{% endif %}
						</div>
					</div>

					{# STORAGE TAB #}
					<div class="tab-pane" role="tabpanel" id="storage-content">
						<h4 class="text-center">{{ _("Storage") }}</h4>
						<hr>
						<p>
							{{ _("CrashServer can store symbols, minidumps, and attachments at remote locations. Data will be uploaded to all enabled storage targets.") }}
							{{ _("By default, \"Filesystem\" is enabled. The \"Filesystem\" target may be disabled, but if CrashServer is unable to upload data to all enabled remote locations, the data will be stored locally as a backup.") }}
						</p>
						<hr>
						{# STORAGE ACCORDION #}
						<div class="accordion" id="accordion-storage">
							{% for s in storage %}
								<div class="accordion-item">
									<h2 class="accordion-header" id="storage-{{ s.key }}">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#storage-body-{{ s.key }}"
												aria-expanded="true"
												aria-controls="storage-body-{{ s.key }}">
											<span><i class="fa-fw {{ get_storage_icon(s.key) }}"></i> {{ s.key|capitalize }}</span>
										</button>
									</h2>
								</div>
								<div id="storage-body-{{ s.key }}" class="accordion-collapse collapse" aria-labelledby="storage-{{ s.key }}" data-bs-parent="#accordion-storage">
									<div class="accordion-body">
										<h4 class="text-center">{{ s.key|capitalize }}</h4>
										<hr>
										<form method="post" action="{{ url_for("webapi.update_storage_target", key=s.key) }}">
											<h5>Configuration Options</h5>
											<div class="row mb-3">
												<div class="col-3">
													<label class="form-check-label" for="enabled-{{ s.key }}">Enable {{ s.key|capitalize }}</label>
												</div>
												<div class="col-9">
													<input	class="form-check-input"
														   	type="checkbox"
														   	name="target_enabled"
														   	value="true"
														   	id="enabled-{{ s.key }}"
														   	autocomplete="off" {{ "checked" if s.is_enabled else "" }}
															{{ "disabled" if s.key == "filesystem" else ""}}
													/>
												</div>
											</div>
											{% set web = s.get_web_config() %}
											{% for item in web["options"] %}
												<div class="row mb-1">
													<div class="col-3">
														<label class="form-label" for="storage-input-{{ s.key }}-{{ item.key }}">{{ item.title }}</label>
													</div>
													<div class="col-9">
														<input class="form-control" type="text" name="{{ item.key }}" id="storage-input-{{ s.key }}-{{ item.key }}" placeholder="{{ s.config[item.key] }}">
													</div>
												</div>
											{% endfor %}
											<hr>
											<div class="text-center mt-3">
												<button type="submit" class="btn btn-outline">{{ _("Save") }}</button>
											</div>
										</form>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>

					{# ABOUT TAB #}
					<div class="tab-pane" role="tabpanel" id="about-content">
						<h4 class="text-center">{{ _("System Information") }}</h4>
						<hr>
						<h5>{{ _("Host") }}</h5>
						{{ macros.info_line("Domain Name", settings.flask.domain) }}
						{{ macros.info_line("Server Port", settings.flask.web_port) }}
						<hr>
						<h5>{{ _("Host Information") }}</h5>
						{{ macros.info_line("App Version", HostInfo.get_python_version()) }}
						{{ macros.info_line("Hostname", HostInfo.get_hostname()) }}
					</div>
				</div>
				{# END OF SETTING CONTENT CONTAINER #}
			</div>
			{# END OF COL SIZE CLASSES #}

		</div>
		{# END OF SIDE TABS AND CONTENT AREA #}
	</div> {# END OF CONTAINER #}

	<script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            SettingsUtil.registerEvents();
            SettingsUtil.registerTooltips();
        })
	</script>
{% endblock %}
