{% extends "base/base.html" %}

{% macro user_account_row(user) %}
	<tr>
		<td>{{ user.email }}</td>
		<td>{{ user.date_created.strftime("%T %F") }}</td>
	</tr>
{% endmacro %}

{% macro project_disk_space(title, path) %}
	{% set disk = sysinfo.get_disk_space(path) %}
	<div class="row settings-storage-row">
		<div class="col-sm-4">{{ title }}</div>
		<div class="col-sm-8">
			<div class="progress">
				<div class="progress-bar" style="width: {{ (disk.used / disk.total) * 100 }}%"></div>
				<div class="progress-bar" style="width: 100%; background-color: gray"></div>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro settings_info_line(title, value) %}
	<div class="row">
		<div class="col-sm-3 float-end">{{ title }}</div>
		<div class="col-sm-9">{{ value }}</div>
	</div>
{% endmacro %}

{% macro generate_project_row(p) %}
	<div style="border: 3px solid gray; border-radius: 5px; padding: 10px; margin-top: 10px">
		<h4 style="display: inline">{{ p.project_name }}</h4>
		<p style="display: inline">
			| {{ p.project_type.value|capitalize }}
			| {{ p.symbol|length }} Symbols ({{ HumanBytes.format(p.total_symbol_size) }})
			| {{ p.minidump|length }} Minidumps ({{ HumanBytes.format(p.total_minidump_size) }})
		</p>
		<hr>
		<h5 style="margin-top: 10px;">Disk Space</h5>
		{{ project_disk_space("Minidump Storage", p.minidump_location) }}
		{{ project_disk_space("Symbol Storage", p.symbol_location) }}
		<hr>

		<!-- MOBILE BUTTONS -->
		<div class="row d-md-none">
			<div class="col-12">
				<button type="button" class="btn btn-primary"><i class="fas fa-edit"></i></button>
				<button type="button" class="btn btn-warning"><i class="fas fa-eraser"></i></button>
				<button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
			</div>
		</div>

		<!-- DESKTOP FULLSCREEN BUTTONS -->
		<div class="row">
			<div class="col-12 d-none d-md-block">
				<button type="button" class="btn btn-primary">
					Rename
					<span class="d-none d-lg-inline">Project</span>
				</button>
				<button type="button" class="btn btn-warning">
					Purge
					<span class="d-none d-lg-inline">Minidumps</span>
				</button>
				<button type="button" class="btn btn-danger">
					Delete
					<span class="d-none d-lg-inline">Project</span>
				</button>
			</div>
		</div>
	</div>
{% endmacro %}

{% block content %}
	<h1 class="text-center">Server Settings</h1>
	<hr>
	<div class="container">

		<!-- MOBILE SIZE TOP TABS -->
		<div class="row d-md-none">
			<div class="col-12">
				<ul id="settings-top-tabs" class="nav nav-tabs">
					<li id="account" class="nav-item nav-link active"><i class="fas fa-user"></i></li> <!-- My Account -->
					<li id="users" class="nav-item nav-link"><i class="fas fa-users fa-fw"></i></li> <!-- Users-->
					<li id="server" class="nav-item nav-link"><i class="fas fa-server fa-fw"></i></li> <!-- Server-->
					<li id="projects" class="nav-item nav-link"><i class="fas fa-archive fa-fw"></i></li> <!-- Projects-->
					<li id="about" class="nav-item nav-link"><i class="fas fa-info-circle fa-fw"></i></li> <!-- About-->
				</ul>
			</div>
		</div>

		<!-- SIDE TABS AND CONTENT AREA -->
		<div class="row">
			<!-- DESKTOP SIDE TABS  -->
			<div class="col-md-4 col-lg-3 d-none d-md-block">
				<div id="settings-side-tabs" class="list-group settings-box-border">
					<a id="account" class="list-group-item active" href="#account"><i class="fas fa-user fa-fw"></i>My Account</a>
					<a id="users" class="list-group-item" href="#users"><i class="fas fa-users fa-fw"></i>Users</a>
					<a id="server" class="list-group-item" href="#server"><i class="fas fa-server fa-fw"></i>Server</a>
					<a id="projects" class="list-group-item" href="#projects"><i class="fas fa-archive fa-fw"></i>Projects</a>
					<a id="about" class="list-group-item" href="#about"><i class="fas fa-info-circle fa-fw"></i>About</a>
				</div>
			</div>

			<!-- MAIN CONTENT AREA -->
			<div class="col-md-8 col-lg-9">
				<div class="settings-content-container">
					<div id="settings-content" class="tab-content settings-box-border">
						<!-- MY ACCOUNT TAB -->
						<div class="tab-pane active" role="tabpanel" id="account-content">
							<h4>My Account</h4>
							<hr>
							<h5>My Info</h5>
							<div class="row mb-3">
								<label for="username" class="col-sm-2 col-form-label">Username</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="username">
								</div>
							</div>
							<div class="row mb-3">
								<label for="email-address" class="col-sm-2 col-form-label">Email Address</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" id="email-address">
								</div>
							</div>

							<hr>
							<h5>Change Password</h5>
							<div class="row mb-3">
								<label for="pw-current" class="col-sm-2 col-form-label">Current Password</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" id="pw-current">
								</div>
							</div>
							<div class="row mb-3">
								<label for="pw-new" class="col-sm-2 col-form-label">New Password</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" id="pw-new">
								</div>
							</div>
							<div class="row mb-3">
								<label for="pw-new-verify" class="col-sm-2 col-form-label">Verify Password</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" id="pw-new-verify">
								</div>
							</div>

							<hr>
							<div class="text-center">
								<button type="submit" class="btn btn-outline-dark">Submit</button>
							</div>
						</div>

						<!-- USERS TAB -->
						<div class="tab-pane" role="tabpanel" id="users-content">
							<div class="text-center">
								<h5>Current Users</h5>
							</div>
							<div class="row">
								<div class="d-none d-md-block">
									<table class="table">
										<thead>
										<tr>
											<th scope="col">Email</th>
											<th scope="col">Account Created</th>
										</tr>
										</thead>
										<tbody>
										{% for user in users %}
											{{ user_account_row(user) }}
										{% endfor %}
										</tbody>
									</table>
								</div>

							</div> <!-- END OF LARGE SCREEN ROW -->
						</div>

						<!-- SERVER TAB -->
						<div class="tab-pane" role="tabpanel" id="server-content">
							<form action="">
								<h4>Server Settings</h4>
								<hr>
								<h5>Symbol Upload</h5>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="symupload-v1">
									<label class="form-check-label" for="symupload-v1">
										Enable <code>sym-upload-v1</code> protocol
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="symupload-v2">
									<label class="form-check-label" for="symupload-v1">
										Enable <code>sym-upload-v2</code> protocol
									</label>
								</div>
								<hr>

								<h5>Single Project Mode</h5>
								<p>
									Crash Server supports collecting symbols and minidumps for multiple applications, and keeping the data stored separately on disk,
									some projects may only have a single project they want to store their symbols for. Enabling single project mode will:
								</p>

								<ul>
									<li>Set the homepage to be the selected projects dashboard.</li>
									<li>Disable public access to any project expect the selected project.</li>
								</ul>

								<p>
									Enabling will not delete any projects or symbols.
								</p>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="single-project-mode">
									<label class="form-check-label" for="single-project-mode">
										Enable Single Project Mode
									</label>
								</div>
								<select id="project-select" class="form-select" onChange="javascript:set_minidump_upload_enabled(true);" autocomplete="off">
									<option disabled selected>Select Project</option>
									{% for proj in projects %}
										<option value="{{ proj.id }}">{{ proj.project_name }}</option>
									{% endfor %}
								</select>
								<hr>
								<div class="text-center">
									<button type="submit" class="btn btn-outline-dark">Save</button>
								</div>
							</form>
						</div>

						<!-- PROJECTS TAB -->
						<div class="tab-pane" role="tabpanel" id="projects-content">
							<h4>Projects</h4>
							<hr>
							<div class="settings-project-grid">
								{% if not projects %}
									<p>No projects have been created yet.</p>
								{% else %}
									{% for p in projects %}
										{{ generate_project_row(p) }}
									{% endfor %}
								{% endif %}
							</div>
						</div>

						<!-- ABOUT TAB -->
						<div class="tab-pane" role="tabpanel" id="about-content">
							<h4>System Information</h4>
							<hr>
							<h5>Host</h5>
							{{ settings_info_line("Domain Name", "http://crash.hidden.lan/") }}
							{{ settings_info_line("Server Port", "8081") }}
							<hr>
							<h5>Data Storage</h5>
							{{ settings_info_line("Symbol Path", "/data/symbols") }}
							{{ settings_info_line("Minidump Path", "/data/symbols") }}
						</div>
					</div> <!-- END OF SETTINGS CONTENT-->
				</div> <!-- END OF SETTING CONTENT CONTAINER -->
			</div> <!-- END OF COL SIZE CLASSES -->

		</div> <!--  END OF SIDE TABS AND CONTENT AREA-->
	</div> <!-- END OF CONTAINER -->

	<script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => settings_registerEvents())
	</script>
{% endblock %}
