{% extends "base/base.html" %}

{% macro GenDesktopRow(dump, project) %}
	<tr>
		<td>{{ project }}</td>
		<td>
			<div style="display: flex; align-items: center">
			{% if dump.json %}
				<i class="fa-fw {{ dump.json.os_icon }}"></i>
				<a href="{{ url_for("views.crash_detail", crash_id=dump.id) }}">{{ _("View") }}</a>
				{% if not dump.symbolicated %}
					<span class="thread-badge badge bg-secondary">{{ _("Missing Symbols") }}</span>
				{% endif %}
				<span class="thread-badge badge bg-danger">{{ dump.json.crash_reason.crash_type }}</span>
			{% else %}
				<i class="fa-fw fas fa-question"></i>
				<a href="{{ url_for("views.crash_detail", crash_id=dump.id) }}">{{ _("View") }}</a>
				{% if not dump.decode_task_complete %}
					<span class="crash-thread-badge badge bg-secondary">{{ _("Processing...")}}</span>
					<span class="spinner-border spinner-border-sm"></span>
				{% endif %}
			{% endif %}
			</div>
		</td>
		<td>
			<span title="{{ dump.date_created.strftime('%F %X %Z') }}">
				{{ humantime(dump.date_created) }}
			</span>
		</td>
		{% if current_user.is_authenticated %}
		<td>
			<button class="btn btn-link btn-crash-delete" data-bs-toggle="modal" data-bs-target="#delete-dump-modal-{{ dump.id }}">{{ _("Delete") }}</button>
			<div class="modal fade" id="delete-dump-modal-{{ dump.id }}">
			  <div class="modal-dialog">
				<div class="modal-content">
				  <div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				  </div>
				  <div class="modal-body">
					  <ul>
						  <li>{{ _("The minidump file on disk will be deleted.") }}</li>
						  <li>{{ _("The crash detail information will no longer be available.") }}</li>
						  <li>{{ _("All associated attachments will be deleted.") }}</li>
					  </ul>
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _("Cancel") }}</button>
					<button onclick="CrashAPI.deleteMinidump('{{ dump.id }}')" type="button" class="btn btn-danger">{{ _("Delete") }}</button>
				  </div>
				</div>
			  </div>
			</div>
		</td>
		{% endif %}
	</tr>
{% endmacro %}

{% macro GenMobileRow(dump, project) %}
	<div style="padding: 3px" class="crash-mobile-item mobile-crash-info">
		<div class="crash-header">
			{% if dump.json %}
				<i class="fa-fw {{ dump.json.os_icon }}"></i>
			{% else %}
				<i class="fa-fw fas fa-question"></i>
			{% endif %}
			{{ project }}
			<a href="{{ url_for("views.crash_detail", crash_id=dump.id) }}">{{ _("View") }}</a>
		</div>
		<div class="crash-reason">
			{% if not dump.json %}
				<span class="crash-thread-badge badge bg-secondary">{{ _("Processing...") }}</span>
				<span class="spinner-border spinner-border-sm"></span>
			{% else %}
				{% if not dump.symbolicated %}
					<span class="crash-thread-badge badge bg-secondary">{{ _("Missing Symbols") }}</span>
				{% endif %}
				<span class="crash-thread-badge badge bg-danger">{{ dump.json.crash_reason.crash_type }}</span>
			{% endif %}
		</div>
		<div class="crash-date" title="{{ dump.date_created.strftime('%F %X %Z') }}">
			{{ humantime(dump.date_created) }}
		</div>
	</div>


{% endmacro %}

{% block content %}
	<h1 class="text-center">{{ _("Crash Reports") }}</h1>
	<hr>
	{% if dumps.items %}
		<div class="crash-list-chart">
			<div class="chart-container" style="position: relative; height:25vh; width:100%">
				<canvas id="chart-crash-per-day"></canvas>
			</div>
			<div class="day-crash-count">
				<label for="chart-crash-day-select">{{ _("Days") }}</label>
				<select name="crash-day-count" id="chart-crash-day-select">
					<option value="7">7</option>
					<option value="30">30</option>
				</select>
			</div>
			<hr>
		</div>

		<!-- Mobile List -->
		<div id="mobile-crash-list" class="d-md-none">
			{% for row in dumps.items %}
				{{ GenMobileRow(row[0], row[1]) }}
			{% endfor %}
		</div>

		<!-- Desktop List -->
		<div class="col-md-12 d-none d-md-block">
			<table id="crash-table" class="table">
				<thead>
				<tr>
					<th scope="col">{{ _("App Name") }}</th>
					<th scope="col">Minidump</th>
					<th scope="col">{{ _("Date Uploaded") }}</th>
					{% if current_user.is_authenticated %}
						<th scope="col">{{ _("Actions") }}</th>
					{% endif %}
				</tr>
				</thead>
				<tbody>
				{% for row in dumps.items %}
					{{ GenDesktopRow(row[0], row[1]) }}
				{% endfor %}
				</tbody>
			</table>
		</div>

		{# PAGINATION TABS #}
		<nav>
			<ul class="pagination justify-content-end">
				{# FOR EACH PAGE WE WANT TO RENDER A TAB FOR #}
				{% for page in dumps.iter_pages() %}

					{# IF WE ACTUALLY WANT IT TO BE A PAGE (VS AN ELLIPSIS) #}
					{% if page %}
						{# IF THE PAGE WE ITERATE THROUGH DOES NOT MATCH THE PAGE WE ARE ON #}
						{% if page != dumps.page %}
							<li class="page-item"><a class="page-link" href="{{ url_for("views.crash", page=page) }}">{{ page }}</a></li>
						{% else %}
							<li class="page-item"><strong class="page-link disabled">{{ page }}</strong></li>
						{% endif %}

					{% else %}
						<li class="page-item"><span class="ellipsis page-link">…</span></li>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>

		<script>
			document.addEventListener("DOMContentLoaded", () => CrashGraph.genAllMinidumpCrashGraph('chart-crash-per-day', "all"));
		</script>
	{% else %}
		<div class="row">
			<div class="centering-grid">
				<div class="centering-grid-item">
					<h1 class="text-center"><i class="far fa-sad-cry"></i></h1>
					<h1 class="text-center">{{ _("No minidumps have been uploaded yet.") }}</h1>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}