{% extends "base/base.html" %}
{% set json = minidump.json %}

{% macro still_processing() %}
	<h2 class="text-center">Processing minidump...</h2>
	<div class="container">
		<div class="d-flex justify-content-center">
			<div class="spinner-grow text-center" role="status">
				<span class="visually-hidden">Processing minidump...</span>
			</div>
		</div>
	</div>
	{#		// TODO(james): This is not the solution to keep, but it's a solution for now #}
	<meta http-equiv="refresh" content="3"/>
{% endmacro %}

{% macro no_symbols() %}
	<div class="centering-grid">
		<div class="centering-grid-item">
			<h2 class="text-center">Symbols for this minidump haven't been uploaded yet.</h2>
		</div>
	</div>
{% endmacro %}

{% macro main_detail_page() %}
	<h3>{{ minidump.project.project_name }}</h3>
	<p>
		<span class="badge bg-danger">Crash Reason: {{ json.crash_reason.crash_type }}</span>
		<span class="badge bg-primary">Date Uploaded: {{ minidump.date_created.strftime("%F %T %Z") }}</span>
		<span class="badge bg-secondary">Crash Location: {{ json.crash_reason.crash_address }}</span>
	</p>
	<hr>
	<div class="row">
		<!-- DESKTOP SIDE TABS  -->
		<div class="col-md-4 col-lg-3 col-sm-12">
			<h2><i class="fab {{ get_font_awesome_os_icon(minidump.build.symbol.os) }} fa-fw"></i>{{ minidump.build.symbol.os|capitalize }}</h2>
			<ul>
				<li>Process PID: {{ json.pid }}</li>
				<li>OS Version: {{ json.system.os_version }}</li>
				<li>Architecture: {{ json.system.cpu_arch }}</li>
				<li>CPU Core Count: {{ json.system.cpu_core_count }}</li>
				<li>CPU Info: {{ json.system.cpu_info }}</li>
			</ul>
			<hr>

			<!-- Only add extra space if on mobile -->
			<div class="d-md-none col-sm-12"><br></div>

			<!-- Only disable modules on desktop -->
			<div class="d-none d-md-block">
				<h2><i class="fas fa-cubes"></i> Modules</h2>
				<ul>
					{% for module in json.modules %}
						<li>{{ module.debug_file }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<!-- DESKTOP MAIN CONTENT AREA  -->
		<div class="col-md-8 col-lg-9">

			<!-- START OF MAIN ACCORDION -->
			<h4><i class="fas fa-stream"></i> {{ json.threads|count }} Threads</h4>
			<div class="accordion" id="thread-list">
				{% for thread in json.threads %}

					<!-- START OF MAIN ACCORDION HEADER -->
					<div class="accordion-item">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									data-bs-target="#thread_{{ thread.thread_index }}">

								Thread #{{ thread.thread_index }}
								{% if thread.thread_index == 0 %}
									<span class="crash-thread-badge badge bg-danger">Crashing Thread</span>
								{% endif %}
							</button>
						</h2>
					</div>

					<!-- START OF MAIN ACCORDION BODY -->
					<div id="thread_{{ thread.thread_index }}" class="accordion-collapse collapse monospace-font" data-bs-parent="#thread-list">
							<ol style="overflow: auto; white-space: nowrap">
							{% for frame in thread.frames %}
								<li>
									{% if frame.file %}
										- [{{ sysinfo.get_filename_from_path(frame.file) }}:{{ frame.line }}]
									{% else %}
										- [{{ frame.module }}]
									{% endif %}
									- {{ frame.func }}
								</li>
							{% endfor %}
						</ol>
					</div>

				{% endfor %}
			</div> <!-- END OF ACCORDION -->
		</div> <!-- END OF SYMBOL-LIST -->
	</div> <!-- END OF ROW -->
{% endmacro %}

{% block content %}
	<h1 class="text-center">Detailed Crash Report</h1>
	<hr>
	{% if minidump.json_stacktrace != None %}
		{{ main_detail_page() }}
	{% elif minidump.build.symbol == None %}
		{{ no_symbols() }}
	{% else %}
		{{ still_processing() }}
	{% endif %}
{% endblock %}