{% extends "base/base.html" %}
{% set json = dump.json %}

{% macro still_processing() %}
	<h2 class="text-center">Processing minidump...</h2>
	<div class="container">
		<div class="d-flex justify-content-center">
			<div class="spinner-grow text-center" role="status">
				<span class="visually-hidden">Processing minidump...</span>
			</div>
		</div>
	</div>
	{#		// TODO(james): This is not the solution to keep, but it's a solution for now #}
	<meta http-equiv="refresh" content="3"/>
{% endmacro %}

{% macro no_symbols() %}
	<div class="centering-grid">
		<div class="centering-grid-item">
			<h1 class="text-center"><i class="far fa-sad-cry"></i></h1>
			<h2 class="text-center">Symbols for this minidump haven't been uploaded yet.</h2>
		</div>
	</div>
{% endmacro %}

{% macro stack_frame_title(frame) %}
	{% if frame.file %}
		- [{{ sysinfo.get_filename_from_path(frame.file) }}:{{ frame.line }}]
	{% else %}
		- [{{ frame.module }}]
	{% endif %}
	- {{ frame.func }}
{% endmacro %}

{% macro main_detail_page() %}
	<link href="{{ url_for('static', filename='css/prism.css') }}" rel="stylesheet">
	<h3>
		{{ dump.project.project_name }}
		{% if dump.symbol and dump.project.project_type|string == "ProjectType.VERSIONED" %}
			 {{ dump.symbol.app_version }}
		{% endif %}
	</h3>
	<p>
		<span class="badge bg-danger">Crash Reason: {{ dump.json.crash_reason.crash_type }}</span>
		<span class="badge bg-primary">Date Uploaded: {{ dump.date_created.strftime("%F %T %Z") }}</span>
		<span class="badge bg-secondary">Crash Location: {{ dump.json.crash_reason.crash_address }}</span>
	</p>
	<hr>
	<div class="row">
		<!-- DESKTOP SIDE TABS  -->
		<div class="col-md-4 col-lg-3 col-sm-12">
			<h2>
				<i class="fab {{ dump.json.os_icon }} fa-fw"></i>{{ dump.json.os_name }}
			</h2>
			<ul>
				<li>Process PID: {{ dump.json.pid }}</li>
				<li>OS Version: {{ dump.json.system.os_version }}</li>
				<li>Architecture: {{ dump.json.system.cpu_arch }}</li>
				<li>CPU Core Count: {{ dump.json.system.cpu_core_count }}</li>
				<li>CPU Info: {{ dump.json.system.cpu_info }}</li>
			</ul>
			<hr>

			<!-- Only add extra space if on mobile -->
			<div class="d-md-none col-sm-12"><br></div>

			<!-- Only disable modules on desktop -->
			<div class="d-none d-md-block">
				<h2><i class="fas fa-cubes"></i> Modules</h2>
				<ul class="overflow-scroll card" style="max-height: 200px">
					{% for module in dump.json.modules %}
						<li>{{ module.debug_file }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<!-- DESKTOP MAIN CONTENT AREA  -->
		<div class="h-100 col-md-8 col-lg-9">

			<!-- START OF MAIN AREA -->
			<!-- MINIDUMP TABS -->
			<nav>
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<button class="crash-detail-tab nav-link active" id="nav-stack-tab" data-bs-toggle="tab" data-bs-target="#nav-stacktrace">
						<i class="fas fa-stream"></i>
						{{ dump.json.threads|count }} Thread{{ dump.json.threads|count|pluralize }}
					</button>
					<button class="crash-detail-tab nav-link {{ "disabled" if dump.attachments|count == 0 }}"
							id="nav-attach-tab" data-bs-toggle="tab" data-bs-target="#nav-attachments">
						<i class="fas fa-paperclip"></i>
						{{ dump.attachments|count }} Attachment{{ dump.attachments|count|pluralize }}
					</button>
				</div>
			</nav>
			<br>
			<!-- MINIDUMP TAB CONTENT AREA -->
			<div class="tab-content" id="nav-tabContent">

				<!-- STACKTRACE TAB -->
				<div class="tab-pane fade show active " id="nav-stacktrace" role="tabpanel" aria-labelledby="nav-profile-tab">

					{% if not dump.symbolicated %}
						{{ no_symbols() }}
					{% else %}
						<div class="accordion" id="thread-list">
							{% for thread in dump.json.threads %}

								<!-- START OF MAIN ACCORDION HEADER -->
								<div class="accordion-item">
									<h2 class="accordion-header">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
												data-bs-target="#thread_{{ thread.thread_index }}">

											Thread #{{ thread.thread_index }}
											{% if thread.thread_index == dump.json.crash_reason.crashing_thread %}
												<span class="crash-thread-badge badge bg-danger">Crashing Thread</span>
											{% endif %}

											<!-- Add tag for windows worker threads -->
											{% if thread.frames[-1].func == "TppWorkerThread" %}
												<span class="crash-thread-badge badge bg-info">Worker Thread</span>
											{% endif %}
										</button>
									</h2>
								</div>

								<!-- START OF MAIN ACCORDION BODY -->
								<div id="thread_{{ thread.thread_index }}" class="accordion accordion-collapse collapse" data-bs-parent="#thread-list">
									<ol style="overflow: auto; white-space: nowrap">
										{% for i in range(thread.frames|length) %}
											{% set frame = thread.frames[i] %}

											<!-- START OF INNER FRAME ACCORDION HEADER -->
											<li class="accordion-header monospace-font">
												{% if frame.file %}
													<button class="stack-header-btn collapsed" type="button" data-bs-toggle="collapse"
															data-bs-target="#thread_{{ thread.thread_index }}_{{ i }}"
															onclick="get_code_snippet(this, '{{ dump.project_id }}' ,'{{ frame.file|urlencode }}', {{ frame.line }})">
														{{ stack_frame_title(frame) }}
													</button>
												{% else %}
													{{ stack_frame_title(frame) }}
												{% endif %}
											</li>


											<!-- START OF INNER FRAME ACCORDION BODY -->
											{% if frame.file %}
												<div id="thread_{{ thread.thread_index }}_{{ i }}" class="frame-code-view accordion-collapse collapse"
													 data-bs-parent="#thread_{{ thread.thread_index }}_frame">
													<div class="frame-code-loader-view">
														<span style="margin-right: 5px" class="spinner-border text-dark" role="status"></span>
														<span>Loading Code Snippet...</span>
													</div>
												</div>
											{% endif %} <!-- END OF INNER FRAME ACCORDION BODY -->
										{% endfor %}
									</ol>
								</div>

							{% endfor %}
						</div> <!-- END OF ACCORDION -->
					{% endif %}
				</div>

				<!-- ATTACHMENT TAB -->
				{% if dump.attachments|count != 0 %}
					<div class="tab-pane fade" id="nav-attachments" role="tabpanel" aria-labelledby="nav-contact-tab">
						<!-- CODE AREA DIV -->
						<div class="accordion" id="file-list">
							{% for file in dump.attachments %}

								<!-- START OF FILE ACCORDION HEADER -->
								<div class="accordion-item">
									<h2 class="accordion-header">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
												data-bs-target="#file_{{ file.id }}">
											<span class="monospace-font">{{ file.original_filename }}</span>
										</button>
									</h2>
								</div>

								<!-- START OF FILE ACCORDION BODY -->
								<div id="file_{{ file.id }}" class="accordion accordion-collapse collapse" data-bs-parent="#file-list">
									<pre class="crash_detail_code_block line-numbers"><code class="language-text">{{ file.file_content }}</code></pre>
								</div>
							{% endfor %}

						</div>
					</div>
				{% endif %}
			</div>


		</div> <!-- END OF SYMBOL-LIST -->
	</div> <!-- END OF ROW -->
{% endmacro %}

{% block content %}
	<h1 class="text-center">Detailed Crash Report</h1>
	<hr>
	{% if dump.stacktrace %}
		{{ main_detail_page() }}
	{% elif not dump.decode_task_complete %}
		{{ still_processing() }}
	{% endif %}
{% endblock %}