{% extends "base/base.html" %}


{% block content %}
	<h1 class="text-center">Login</h1>
	<hr>
	<div class="centering-grid">
		<form class="centering-grid-item" action="{{ url_for("auth.login") }}" method="post">
			{{ form.csrf_token }}
			<div class="mb-3">
				{{ form.email.label(class="form-label") }}
				{{ form.email(class="form-control") }}
			</div>
			<div class="mb-3">
				{{ form.password.label(class="form-label") }}
				{{ form.password(class="form-control") }}
			</div>
			<div class="mb-3">
				{{ form.remember_me(class="form-check-input") }}
				{{ form.remember_me.label(class="form-check-label") }}
			</div>
			<div class="text-center">
				<button type="submit" class="btn btn-outline">{{ _("Login") }}</button>
			</div>
		</form>
	</div>
	<hr>
{% endblock  %}
