<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a href="/" class="navbar-brand">Crash Server</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/crash-reports">Crash Reports</a>
				<a class="nav-item nav-link" href="/symbols">Symbols</a>
				<a class="nav-item nav-link" href="/upload">Upload</a>
			</div>
		</div>

	</div>
</nav>