{% extends "base/base.html" %}

{% macro project_entry(project, button_title) %}
<div class="home-row">
    <div style="grid-row: 1" class="home-app-title">{{ project.project_name }}</div>

    <div class="sub-item">
        <h3>
            <i class="fas fa-stream"></i>
            {{ project.symbols|count }} {{ _("Symbols") }}
        </h3>
    </div>

    <div class="sub-item">
        <h3>
            <i class="fas fa-archive"></i>
            {{ project.minidumps|count }} Minidumps
        </h3>
    </div>

	<a class="home-app-button" href="{{ url_for("views.project_dashboard", id=project.id) }}">
		<button type="button" class="btn btn-outline-dark">{{ button_title }}</button>
	</a>
</div>
{% endmacro %}

{% block content %}
	<h1 class="text-center">Symbol Storage and Minidump Decode</h1>
	<hr>
	<div class="home-grid">
		{% for app in apps %}
			{{ project_entry(app, "View") }}
		{% endfor %}
	</div>

{% endblock %}