{% extends "base/base.html" %}

{% macro project_entry(title, url, button_title) %}
<div class="home-row">
	<img src="https://via.placeholder.com/100" alt="">
	<span class="home-app-title">{{ title }}</span>
	<a class="home-app-button" href="{{ url }}">
		<button type="button" class="btn btn-outline-dark">{{ button_title }}</button>
	</a>
</div>
{% endmacro %}

{% block content %}
	<h1 class="text-center">Symbol Storage and Minidump Decode</h1>
	<hr>
	<div class="grid">
		{% for app in apps %}
			{{ project_entry(app.project_name, url_for("views.project_dashboard", id=app.id), "View") }}
		{% endfor %}
	</div>

{% endblock %}