<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a href="/" class="navbar-brand">Crash Server</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="{{ url_for("views.crash") }}">Crash Reports</a>
				<a class="nav-item nav-link" href="{{ url_for("views.symbols") }}">Symbols</a>
				<a class="nav-item nav-link" href="{{ url_for("views.upload") }}">Upload</a>
			</div>

			{% if current_user.is_authenticated %}
				<ul class="navbar-nav ms-auto">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Account
							</a>
							<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
									<li><a class="dropdown-item" href="{{ url_for("views.project_create") }}"><i class="fas fa-plus fa-fw"></i> Create App</a></li>
									<li><a class="dropdown-item" href="{{ url_for("views.settings") }}"><i class="fas fa-cog fa-fw"></i> Settings</a></li>
									<li><a class="dropdown-item" href="{{ url_for("auth.logout") }}"><i class="fas fa-sign-out-alt fa-fw"></i> Logout</a></li>
							</ul>
						</li>
				</ul>
			{% elif current_user.is_anonymous %}
				<div class="navbar-nav ms-auto">
					<a class="nav-item nav-link" href="{{ url_for("auth.login") }}"><i class="fas fa-sign-in-alt fa-fw"></i>Login</a>
				</div>
			{% endif %}
		</div>

	</div>
</nav>