{% extends "base/base.html" %}

{% macro project_selector() %}
	<div class="centering-grid">
		<div class="centering-grid-item">
			<select id="project-select" class="form-select" onChange="javascript:update_symbol_list(this.value);" autocomplete="off">
				<option disabled selected>{{ _("Select Project") }}</option>
				{% for proj in projects %}
					<option value="{{ proj.id }}">{{ proj.project_name }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
{% endmacro %}

{% block content %}
	<h1 class="text-center">{{ _("Symbols") }}</h1>
	<hr>
	{{ project_selector() }}
	<hr>

	{# Contents of symbols/symbol-list.html, populated by javascript api query #}
	<div id="symbol-content-area">
	</div>
{% endblock %}