{% macro symbol_count_list(os, icon) %}
	<li class="list-group-item"><i class="fab {{ icon }} fa-fw"></i>{{ stats["sym_count"][os] }} {{ os|capitalize }} {{ _("Symbols") }}</li>
{% endmacro %}

{% macro mobile_sym_item(symbol) %}
	<div class="mobile-symbol-info">
		<h6>
			<i class="fab {{ get_font_awesome_os_icon(symbol.os) }} fa-fw"></i>
			{{ symbol.build.module_id }} | {{ symbol.arch }}
		</h6>
		<ul>
			<li>{{ _("File Size") }}: <code>{{ humanize.naturalsize(symbol.file_size_bytes) }}</code></li>
			<li>{{ _("Uploaded") }}: {{ symbol.date_created.strftime("%c") }}</li>
			{# <li>{{ _("Uploaded") }}: {{ symbol.date_created.strftime("%F %T %Z") }}</li> #}
		</ul>
	</div>
{% endmacro %}

{% macro desktop_sym_item(symbol) %}
	<tr class="monospace-font">
		<td><i class="fab {{ get_font_awesome_os_icon(symbol.os) }} fa-fw"></i></td>
		<td>{{ symbol.build.module_id }}</td>
		<td>{{ symbol.build.build_id }}</td>
		<td>{{ symbol.arch }}</td>
		<td><code>{{ humanize.naturalsize(symbol.file_size_bytes) }}</code></td>
		<td>{{ symbol.date_created.strftime("%F %T") }}</td>
	</tr>
{% endmacro %}

<div class="row">
	<!-- DESKTOP SIDE TABS  -->
	<div class="col-md-4 col-lg-3 col-sm-12">
		<h2>{{ project.project_name }}</h2>
		<ul class="list-group">
			<li class="list-group-item"><i class="fas fa-code-branch fa-fw"></i>{{ sym_dict.keys()|length }} {{ _("Different Versions") }}</li>
			{{ symbol_count_list("mac", "fa-apple") }}
			{{ symbol_count_list("linux", "fa-linux") }}
			{{ symbol_count_list("windows", "fa-windows") }}
		</ul>

		<!-- Only add extra space if on mobile -->
		<div class="d-md-none col-sm-12"><br></div>
	</div>

	<div id="symbol-list" class="col-md-8 col-lg-9">
		<div class="accordion" id="version-list">
			{% for version in sym_dict %}
				{% set toggle_id = version|replace(".", "_") %}
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#version_{{ toggle_id }}">
							{{ _("Version") }} {{ version }}
						</button>
					</h2>
				</div>
				<div id="version_{{ toggle_id }}" class="accordion-collapse collapse" data-bs-parent="#version-list">
					<div class="accordion-body table-responsive">
						<div class="row">

							<!-- MOBILE LIST ITEM CONTENT -->
							<div id="mobile-symbol-list" class="d-md-none">
								{% for symbol in sym_dict[version] %}
									{{ mobile_sym_item(symbol) }}
								{% endfor %}
							</div>

							<!-- DESKTOP LIST ITEM CONTENT -->
							<div class="d-none d-md-block">
								<table class="table">
									<thead>
									<tr>
										<th scope="col"></th> <!-- Operating System Icon -->
										<th scope="col">{{ _("Module ID") }}</th>
										<th scope="col">Build ID</th>
										<th scope="col">{{ _("Architecture") }}</th>
										<th scope="col">{{ _("File Size") }}</th>
										<th scope="col">{{ _("Date Uploaded") }}</th>
									</tr>
									</thead>
									<tbody>
									{% for symbol in sym_dict[version] %}
										{{ desktop_sym_item(symbol) }}
									{% endfor %}
									</tbody>
								</table>
							</div>
						</div>

					</div>
				</div>
			{% endfor %}
		</div> <!-- END OF ACCORDION -->
	</div> <!-- END OF SYMBOL-LISt -->
</div>
