{% extends "base/base.html" %}

{% macro project_selector() %}
	<div class="centering-grid">
		<div class="centering-grid-item">
			<select id="project-select" class="form-select" onChange="javascript:update_symbol_list(this.value);" autocomplete="off">
				<option disabled selected>Select Project</option>
				{% for proj in projects %}
					<option value="{{ proj.id }}">{{ proj.project_name }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
{% endmacro %}

{% macro main_page() %}
	{{ project_selector() }}
	<hr>
	<table class="table">
		<thead>
		<tr>
			<th scope="col">Crash ID</th>
			<th scope="col">Build ID</th>
			<th scope="col">Operating System</th>
			<th scope="col">Architecture</th>
			<th scope="col">File Size</th>
			<th scope="col">Date Uploaded</th>
		</tr>
		</thead>
		<tbody></tbody>
	</table>
{% endmacro %}

{% macro no_projects() %}
	<div class="centering-grid">
		<div class="centering-grid-item">
			<h2 class="text-center" style="color: gray">No current projects</h2>
		</div>
	</div>
{% endmacro %}

{% block content %}
	<h1 class="text-center">Symbols</h1>
	<hr>
	{{ project_selector() }}
	<hr>

	<!-- Contents of symbols/symbol-list.html, populated by javascript api query -->
	<div id="symbol-content-area">
	</div>

	{#		{% if projects %}#}
	{#			{{ main_page() }}#}
	{#		{% else %}#}
	{#			{{ no_projects() }}#}
	{#		{% endif %}#}
{% endblock %}